html,
body {

  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

html {

  font-size: 18px;
}

body {

  font-family: $base-font-family;
  text-rendering: optimizeLegibility;

  min-width: rem(320);

  -ms-content-zooming: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  -moz-osx-font-smoothing: grayscale;
  @include font-smoothing(antialiased);
  @include touch-callout(none);
  @include text-size-adjust(none);
  @include tap-highlight-transparent();

  *,
  *:before,
  *:after {

    box-sizing: border-box;
  }
}
