%h1 {

  font-size: rem(36);
  font-weight: 600;
  line-height: rem(52);

  @include media(s) {

    font-size: rem(20);
    line-height: rem(30);
  }
}


%h2 {

  font-size: rem(28);
  font-weight: 400;
  line-height: rem(40);

  @include media(s) {

    font-size: rem(18);
    line-height: rem(25);
  }
}

%p {

  font-size: rem(14);
  line-height: 1.6;

  @include media(s) {

    font-size: rem(12);
  }
}